<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.single.photopick">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!-- 拨打电话的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--保存资源到SD卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:allowBackup="true"
        android:supportsRtl="true"
        >
        <activity android:name=".ImagePickActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|"
            android:theme="@style/themeTranslant"
            ></activity>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="photopicktalk.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>

    </application>

</manifest>
